@page "/"

<PageTitle>Index</PageTitle>

<div>
    <h2 class=" ">Hello, Tailwind!</h2>
    <p class="font-semibold leading-tight text-justify">Blazewind - A TailwindCSS application template for Blazor Serverside</p>
</div>



